@model SignInRecord
@{
    ViewData["Title"] = "ورود به حساب کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link href="/lib/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Script {
  
    <partial name="_ValidationScriptsPartial" />
    <script src="/lib/sweet-alert/sweetalert2.all.min.js"></script>
    <script src="/js/OtpLogin.js"></script>
}
<section style="background-image:url('/assets/img/pages/profile-banner.png')">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 ">
                <div class="text-center mt-5 mb-5">
                    <h2 class="text-white"> ورود به حساب کاربری</h2>
                    <ol class="breadcrumb text-center justify-content-center mt-5">
                        <li class="breadcrumb-item text-white"><a href="/">صفحه اصلی</a></li>
                        <li class="breadcrumb-item text-white" aria-current="page">ورود به حساب کاربری</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mt-5 mb-5 justify-content-lg-center justify-content-xl-center">

          

            <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                @if (ViewBag.Alert != null)
                {
                    <div class="alert alert-warning">@ViewBag.Alert</div>
                }
                <div class="card shadow justify-content-center">
                    <div class="card-header text-center">
                        <h3>خوش آمدید</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="SignIn" asp-controller="Identity" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">کد ملی </label>
                                <input type="text" asp-for="NationalCode" class="form-control" placeholder="کدملی خود را وارد کنید">
                             <span class="text-danger"  asp-validation-for="NationalCode"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">رمز عبور</label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="رمز عبور را وارد کنید">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" asp-for="SavePassword" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"> به خاطر سپردن </label>
                            </div>

                            <div class="form-group mt-3">
                                <button type="submit" class="bg-primary btn btn-sm text-white">ورود</button>
                                <button type="button" onclick="modalOtp()" class="bg-primary btn btn-sm text-white">ورود با رمز یک بار مصرف</button>
                            </div>
                           
                        </form>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="otpLogin" tabindex="-1" role="dialog" aria-labelledby="otpLogin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ورود با رمز یکبار مصرف</h5>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-lg-12 col-12 mb-2">
                    <label style="font-weight: bold !important">کدملی یا شماره تلفن همراه را وارد نمایید</label>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-12 mb-2">
                    <input type="text" id="userName" class="form-control" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-12 mb-2">
                    <button type="button" id="btn-otp-send" onclick="sendOtp()" class="btn bg-primary w-100 d-flex justify-content-center align-items-center">
                        ارسال کد
                        <div class="spinner-border text-warning mr-2 d-none" id="spinner-send-otp" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-12 mb-2 d-none" id="div-counter">
                    <span style="font-size: 0.8rem !important">امکان ارسال مجدد کد فعال سازی تا <span class="text-danger" id="counter-spn">20</span> ثانیه دیگر</span>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-12 mb-2">
                    <label style="font-weight: bold !important">ورود کد پیامک شده</label>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-12 mb-2">
                    <input type="text" disabled="true" maxlength="6" id="otpCode" class="form-control text-center" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-12">
                    <button type="button" onclick="login()" id="btn-send-otp-code-login" class="btn bg-primary w-100 d-flex justify-content-center align-items-center">
                        ورود
                        <div class="spinner-border text-warning mr-2 d-none" id="spinner-send-otp-btn" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-primary" data-dismiss="modal">خروج</button>
            </div>
        </div>
    </div>
</div>