@model SocialFooterViewModel
<ul class="social-transparent footer-social">

    <li>
        <a href="@Model.Linkdin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="@Model.Telegram">
            <i class="fa-solid fa-paper-plane"></i>
        </a>
    </li>
    <li>
        <a href="@Model.Instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li>
        <a href="@Model.WhatsApp">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </li>
</ul>