@model Application.Cqrs.City.UpdateCityCommand
@{
    ViewData["Title"] = "ویرایش شهر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Script {
    <script src="~/assets/js/upload.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="lh-1-85 breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">پیشخوان</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="City" asp-action="Index" asp-route-parentId="@Model.ProvinceId">مدیریت شهر‌ها‌‌</a>
                </li>
                <li class="breadcrumb-item active">ویرایش شهر‌ </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 offset-xl-3 offset-lg-3 offset-md-3">
            <div class="card mb-4">
                <form asp-area="Admin" asp-controller="City" asp-action="Edit">
                    <h5 class="card-header heading-color">ویرایش شهر </h5>
                    @if (ViewBag.Alert != null)
                    {
                        <div class="mx-3 alert alert-warning">@ViewBag.Alert</div>
                    }
                    <div class="card-body demo-vertical-spacing demo-only-element">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div>
                                    <label class="form-label">نام شهر‌  </label>
                                    <input asp-for="Name" type="text" class="form-control"
                                           placeholder="نام شهر‌ " aria-describedby="defaultFormControlHelp">
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <input type="hidden" asp-for="ProvinceId"  />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm rounded-pill btn-success">ثبت</button>
                        <a asp-area="Admin" asp-controller="City" asp-action="Index"
                           asp-route-parentId="@Model.ProvinceId"
                           class="btn btn-sm rounded-pill btn-warning text-white">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
