<footer class="footer-part">
    <div class="container">
        <div class="row newsletter">
            <div class="col-lg-6">
                <div class="news-content">
                    <h2>مشترک شدن در آخرین پیشنهادات</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است..</p>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="news-form">
                    <input type="text" placeholder="ادرس ایمیل شما">
                    <button class="btn btn-inline">
                        <i class="fas fa-envelope"></i>
                        <span>عضویت </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-content">
                    <h3>تماس با ما</h3>
                    <ul class="footer-address">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <p>
                                1420 جالکوری غربی فتح الله, <span>نارایانگانج ، بنگلادش</span>
                            </p>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <p>
                                support@classicads.com <span>info@classicads.com</span>
                            </p>
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            <p>
                                +8801838288389 <span>+8801941101915</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-content">
                    <h3>لینک های کمکی </h3>
                    <ul class="footer-widget">
                        <li>
                            <a href="#">ادرس فروشگاه </a>
                        </li>
                        <li>
                            <a href="#">رهگیری سفارشات</a>
                        </li>
                        <li>
                            <a href="#">حساب کاربری من</a>
                        </li>
                        <li>
                            <a href="#">راهنمای اندازه </a>
                        </li>
                        <li>
                            <a href="#">گفت و گو </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-content">
                    <h3>اطلاعات </h3>
                    <ul class="footer-widget">
                        <li>
                            <a href="#">درباره ما</a>
                        </li>
                        <li>
                            <a href="#">سیستم تحویل </a>
                        </li>
                        <li>
                            <a href="#">پرداخت امن </a>
                        </li>
                        <li>
                            <a href="#">تماس با ما</a>
                        </li>
                        <li>
                            <a href="#">نقشه سایت</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-info">
                    <a href="#">
                        <img src="~/main/images/logo.png" alt="logo">
                    </a>
                    <ul class="footer-count">
                        <li>
                            <h5>929,238</h5>
                            <p>کاربران ثبت نام شده </p>
                        </li>
                        <li>
                            <h5>242,789</h5>
                            <p>تبلیغات جامعه </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-card-content">
                    <div class="footer-payment">
                        <a href="#">
                            <img src="~/main/images/pay-card/01.jpg" alt="01">
                        </a>
                        <a href="#">
                            <img src="~/main/images/pay-card/02.jpg" alt="02">
                        </a>
                        <a href="#">
                            <img src="~/main/images/pay-card/03.jpg" alt="03">
                        </a>
                        <a href="#">
                            <img src="~/main/images/pay-card/04.jpg" alt="04">
                        </a>
                    </div>
                    <div class="footer-option">
                        <button type="button">
                            <i class="fas fa-globe"></i>انگلیسی
                        </button>
                        <button type="button">
                            <i class="fas fa-dollar-sign"></i>تومان
                        </button>
                    </div>
                    <div class="footer-app">
                        <a href="#">
                            <img src="~/main/images/play-store.png" alt="play-store">
                        </a>
                        <a href="#">
                            <img src="~/main/images/app-store.png" alt="app-store">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <div class="container">
            <div class="footer-end-content">
                <p>
                    تمام حق و حقوق محفوظ است. 1399 - طراحی توسط <a href="#">جعفر عباسی خان </a>
                </p>
                <ul class="social-transparent footer-social">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>