<footer class="footer-part 	 ">
    <div class="container d-sm-none d-md-block">
        
        <div class="row mb-4">
           @await Component.InvokeAsync("InfoContactComponent")
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-content">
                    <h3>لینک های کمکی </h3>
                    <ul class="footer-widget">
                     
                        <li>
                            <a asp-controller="Business" asp-action="Explore">لیست کسب و کارها</a>
                        </li>
                        <li>
                            <a asp-controller="Employment" asp-action="Explore">آگهی‌های استخدام</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-content">
                    <h3>اطلاعات </h3>
                    <ul class="footer-widget">
                        <li>
                            <a asp-controller="Home" asp-action="AboutUs">درباره ما</a>
                        </li>
                      
                        <li>
                            <a asp-controller="Home" asp-action="ContactUs">تماس با ما</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Law">قوانین سایت</a>
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
@*         <div class="row">
            <div class="col-lg-12">
                <div class="footer-card-content">
                    <div class="footer-payment">
                        <a href="#">
                            <img src="~/main/images/pay-card/01.jpg" alt="01">
                        </a>
                        <a href="#">
                            <img src="~/main/images/pay-card/02.jpg" alt="02">
                        </a>
                        <a href="#">
                            <img src="~/main/images/pay-card/03.jpg" alt="03">
                        </a>
                        <a href="#">
                            <img src="~/main/images/pay-card/04.jpg" alt="04">
                        </a>
                    </div>
                    <div class="footer-option">
                        <button type="button">
                            <i class="fas fa-globe"></i>انگلیسی
                        </button>
                        <button type="button">
                            <i class="fas fa-dollar-sign"></i>تومان
                        </button>
                    </div>
                    <div class="footer-app">
                        <a href="#">
                            <img src="~/main/images/play-store.png" alt="play-store">
                        </a>
                        <a href="#">
                            <img src="~/main/images/app-store.png" alt="app-store">
                        </a>
                    </div>
                </div>
            </div>
        </div>
 *@    </div>
    <div class="footer-end mt-4">
        <div class="container">
            <div class="footer-end-content">
                <p>
                    کلیه حقوق سایت برای سمانه سادات نجفیان رضوی محفوظ است. 
                </p>
                @await Component.InvokeAsync("SocialFooterComponent")
            </div>
        </div>
    </div>
</footer>