<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Mironcoder">
<meta name="email" content="mironcoder@gmail.com">
<meta name="profile" content="https://www.rtl-theme.com/author/tn_plugin">
<meta name="name" content="Classicads">
<meta name="type" content="Classified Advertising">
<meta name="title" content="Classicads - Classified Ads HTML Template">
<meta name="keywords" content="classicads, classified, ads, classified ads, listing, business, directory, jobs, marketing, portal, advertising, local, posting, ad listing, ad posting,">
<title>
    برای کار -
    @ViewData["Title"]</title>
<link rel="icon" href="images/favicon.png">
<link rel="stylesheet" href="~/main/fonts/flaticon/flaticon.css">
<link rel="stylesheet" href="~/main/css/vendor/slick.min.css">
<link rel="stylesheet" href="~/main/css/vendor/bootstrap.min.css">
<link rel="stylesheet" href="~/main/css/custom/main.css">
<link rel="stylesheet" href="~/main/css/custom/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
 
crossorigin="anonymous" referrerpolicy="no-referrer" />